---
layout: base
---
<div class="home">

  {%- if content != blank -%}
  <div class="home-intro">
    {{ content }}
  </div>
  {%- endif -%}

  {%- if site.paginate -%}
    {%- assign posts = paginator.posts -%}
  {%- else -%}
    {%- assign posts = site.posts -%}
  {%- endif -%}

  {%- if posts.size > 0 -%}
    {%- assign date_format = site.date_format | default: "%d %b %Y" -%}
    <h2 class="post-list-heading">Ensayos</h2>
    <ul class="post-list">
      {%- for post in posts -%}
      <li>
        <div class="post-list-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
          {%- if post.author -%}
            <span class="post-meta-divider">·</span>
            <span>{{ post.author }}</span>
          {%- endif -%}
        </div>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {%- if post.excerpt -%}
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- if site.paginate -%}
    <div class="pager">
      {%- if paginator.previous_page -%}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pager-link">← Anteriores</a>
      {%- endif -%}
      {%- if paginator.next_page -%}
        <a href="{{ paginator.next_page_path | relative_url }}" class="pager-link">Siguientes →</a>
      {%- endif -%}
    </div>
    {%- endif -%}
  {%- endif -%}

</div>
